body {
  background-color: #d6e2f0;
  font-family: 'Outfit', sans-serif;
}

img {
  max-width: 90%;
}

#hero-text {
  font-size: 1.5rem;
  font-weight: 700;
  color: #1f3251;
}

#sidekick-text {
  font-size: 1rem;
  font-weight: 500;
  color: #7b879d
}

/* Footer Settings */

#attribution {
    font-size: 11px;
    text-align: center;

  }
#attribution a {
    color: #3e52a3;
  }

/* Media Queries */

@media (min-width: 391px) {
  #main-container {
    max-width: 425px;
  }
}

@media (max-height: 596px) and (orientation: landscape) {
  #second-container {
    max-width: 60%;
    height: 350px;
  }

  #hero-text {
    font-size: 1rem;
  font-weight: 700;
  color: #1f3251;
  }

  #sidekick-text {
    font-size: 0.8rem;
    font-weight: 500;
    color: #7b879d
  }
  
}