body {
  background-color: #d6e2f0;
  font-family: 'Outfit', sans-serif; 
}

h1,
p {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 21rem;
  height: 100vh;
  background-color: orange;
}

#secondary-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 1rem;
}

#qr-code {
  max-width: 90%;
  object-fit: cover;
  margin: 1rem 1rem 0.5rem 1rem;
  border-radius: 1rem;
}

#hero-text {
  font-size: 1.5rem;
  font-weight: 700;
  color: #1f3251;
  margin: 1rem 1rem 1.5rem 1rem;
}

#sidekick-text {
  font-size: 1rem;
  font-weight: 500;
  color: #7b879d;
  margin: 0 1rem 1rem 1rem;
}


/* Media Queries */

/* @media (min-width: 391px) {
  #main-container {
    max-width: 425px;
  }
}

@media (max-height: 596px) and (orientation: landscape) {
  #second-container {
    max-width: 60%;
    height: 350px;
  }

  #hero-text {
    font-size: 1rem;
  font-weight: 700;
  color: #1f3251;
  }

  #sidekick-text {
    font-size: 0.8rem;
    font-weight: 500;
    color: #7b879d;
  }
  
} */